service timestamps debug datetime msec
service timestamps log datetime msec
service password-encryption
service compress-config
!
hostname {{ inventory_hostname }}
!
boot-start-marker
boot-end-marker
!
!
!
aaa new-model
!
!
aaa authentication login default local
aaa authorization exec default local 
!         
!
!
!
!
aaa session-id common
ethernet lmi ce
!
!
!
clock timezone {{ timezone }}
clock summer-time CET recurring last Sun Mar 2:00 last Sun Oct 3:00
mmi polling-interval 60
no mmi auto-configure
no mmi pvc
mmi snmp-timeout 180
!
!
!
!
!
!
!
!         
!         
!         
!         
no ip domain lookup
ip domain name {{ domain }}
ip cef    
login on-failure log
login on-success log
no ipv6 cef
ipv6 multicast rpf use-bgp
!         
multilink bundle-name authenticated
!         
!         
!

